*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color:#AFC1D6;

}
.wrapper {
    background-color: #655A7C;
    height: 78vh;
    width: 34vw;
    margin: 60px 0px 0px 526px;
    text-align: center;
    border: none;
    border-radius: 20px;
}
.wrapper h1{
    padding-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #655A7C;
    color:#CEF9F2;
    border:none;
    border-radius: 20px;
    
}
.wrapper p{
    margin-top:20px;
    font-size: 20px;
    
}
#guess{
    font-size: 50px;
    color:#CEF9F2;
    
}
#guessField{
    margin-top: 20px;
    height:45px;
    width:30vw;
}
.guessSubmit{
    margin-top: 30px;
    background-color: black;
    color:white;
    height:40px;
    width:140px;
    padding:10px;
    border:none;
    border-radius: 10px;
}
